*
{
  margin: 0;
     padding: 0;
}
header
{
    /* background-color: #333; */
    background-image:  url('../pictures/blank-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
margin: 0;
padding: 0;
   
   
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px ;
}
.main-nav li
{
    display: inline-block ;
}
.main-nav li a
{
color: rgb(161, 161, 161);
text-decoration: none;
padding: 5px 20px;
font-family: "Roboto",sans-serif;
font-size: 15px ;
}
.main-nav li.active a
{
    border: 1px solid rgb(161, 161, 161); 
}
.main-nav li  a:hover
{
    border :1px solid rgb(161, 161, 161);
}
body
{
font-family: monospace;
}
.row{
    max-width:  1200px;
    margin: auto ;
}
.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}
h1
{
    color: white;
text-transform: uppercase;
font-size: 70px;
text-align: center;
margin-top: 575px;
margin-left: 200px;

}
/* --------------------------- */

.liii{
  
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
       
    
}
.liiii{
  
    display: flex;
    justify-content: space-between;
   
   

}
.emgi{
    border-radius: 50px;
    width: 500px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    margin-right: 70px;
    
    
    
}
.emgi2{
    border-radius: 50px;
    width: 700px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}
.input1{
    margin-right: 520px;    
    margin-left: 160px;
    width: 250px;
    height: 30px;
    border-radius: 25px;
}
.input2{
    width: 250px;
    height: 30px;
    border-radius: 25px;
}
.button1{
    margin-right: 550px;  
    margin-left: 190px;  
    border-radius: 25px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.404);
}
.button1:hover{
    background-color: rgba(236, 197, 22, 0.671);
}
.button2{
    border-radius: 25px;  
    height: 30px;
    background-color: rgba(255, 255, 255, 0.404);
}
.button2:hover{
    background-color: rgba(236, 197, 22, 0.671);
}
.pa{
    margin-top: 50px;
   
    margin-left: 200px;
}
.pb{
    margin-top: 50px;
   margin-right: 280px;
}
h2{
    
   margin-left: 420px; 
   width: 500px;

}

.ppp{
    font-size: 20px;
   width: 400px;
   margin-left: 100px; 
}
.navi{
    margin-top: 50px;
   margin-left: 890px;
border: solid rgba(236, 197, 22, 0.671);
border-radius: 5px;
width: 500px;
}




























.logo-img{

    width: 70px;
    
    height: 70px;
    
    border-radius: 60%;
    float: left;
    margin-top: 2px;
  margin-right: 100px;
    }












/* h1{
    color: #ffff;
    padding: 50px;
}
.container{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 600px;
    margin-top: 150px;

}
body{
    height: 1000%;
    height: 100vh;
   
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #7F9C96;
    background-image: url('https://images.fineartamerica.com/images-medium-large-5/starry-night-jorge-maia.jpg'); */
/* 
}

.img{

    width: 70px;
    
    height: 70px;
    
    border-radius: 60%;
    
    }
.img:hover{

    transform: translateY(-10px);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
}    
.div1 {
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    }
    .div1:hover{
        transform: translateY(-10px);
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    }
h3{
    color: rgb(177, 177, 177);
}
.h3{
    padding: 14px;

    text-align: center;    
}
.hr{
    padding: 14px;
    
    text-align: center;
}
.ahuaru{
    padding: 14px;
    
    text-align: center;
}
.div2{

    background-color: whitesmoke;
width: 170px;
height: 50px;
border-radius: 50px;
}
.div2:hover{
    transform: translateY(-10px);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
}
li{
   
   
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 100px;
    
}
.navbar{
    width: 100%;
    height: 80px;
    display:inline-block;
   
    border-radius: 30px;
    
} */

/* -------------------- */

   
    /* } */
    /*    img  */
    /* .imghover   */