*{
    margin: 0;
       padding: 0;
  }
.container {
  
    font-size: 24px;
   
    margin: 100px;

}


.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px ;
} 
.main-nav li
{
    display: inline-block ;
}
.main-nav li a
{
color: white;
text-decoration: none;
padding: 5px 20px;
font-family: "Roboto",sans-serif;
font-size: 15px ;
}
.main-nav li.active a
{
    border: 1px solid white; 
}
.main-nav li  a:hover
{
    border :1px solid white
}
body
{
font-family: monospace;
background: url('../pictures/homebg.jpg')no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 800px;
margin: 0;
padding: 0;

}
.row{
    max-width:  1200px;
    margin: auto ;
}

h1
{
    color: white;
text-transform: uppercase;
font-size: 70px;
text-align: center;
 margin-top: 450px;


}
.button
{
    margin-top: 30px;
    margin-left: 210px;
    text-align: center;
}
.btn
{
border: 1px solid white;
padding: 10px 30px;
color: white;
text-decoration: none;
margin-right: 5px;
font-size: 13px;
text-transform: uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family: "Roboto",sans-serif;
    margin-right: 180px;
}
.btn-two
{
    font-family: "Roboto",sans-serif;
}
.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in ;
}

.logo-img{

    width: 70px;
    
    height: 70px;
    margin-top: 7px;
    border-radius: 60%;
    float: left;
  
    }
  
    .input{
        margin-right: 50px;    
        margin-left: 500px;
        margin-bottom: 100px;
        width: 250px;
        height: 30px;
        border-radius: 25px;
    }
    .pic{
        width: 70px;
        margin: 20px;
    }